body {
    width: auto;
    height: 100px ;
    background-color: #230242 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

  }

  div{
    margin: 3px;
  }

.big-hr{
    border: none;
    height: 10px;
    /* Set the hr color */
    color: #b488fe;  /* old IE */
    background-color: #b488fe;  /* Modern Browsers */
}

.container-for-btn {
    height: 100% ;
    width: 100% ;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(35, 2, 66) 50%, rgb(180, 136, 254) 50%);
}

.analyze-button {
    width: 70px;
    height: 40px;
    background-color: #fff;
    color: #b488fe;
    
}

.analyze-button:hover{
    background-color: rgb(180, 136, 254);
    color: #fff;
}

#form-container{
    color: #fff;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-style: solid;
    border-width: medium;
    margin-bottom: 3px;
}

button{
    width: 200px;
    height: 70px;
    background-color: #fff;
    color: #b488fe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-bottom: 3px;

}

button:hover{
    background-color: rgb(180, 136, 254);
    color: #fff;
}

textarea{
    width: 200px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-style: solid;
    border-width: medium;
    margin-bottom: 3px;
    resize: none;
}

select{
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-style: solid;
    border-width: medium;
    margin-bottom: 3px;
}
option{
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-style: solid;
    border-width: medium;
}
 
  