body {
    width: 600px; /* Adjust width as needed */
    height: auto;
    background-color: #230242;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 20px;
}

#form-container {
    margin-top: 20px;
}

.form-info {
    margin-bottom: 20px;
    border: 1px solid #b488fe;
    padding: 15px;
    border-radius: 8px;
}

.action-div {
    font-weight: bold;
    margin-bottom: 20px;
}

.label-name {
    margin-bottom: 5px;
}

inputs {
    border-radius: 5%
    margin-bottom: 10px;
    margin-right: 10px;
}

.input-label {
    display: block;
    margin-bottom: 5px;
    
}

.page-input {
    margin-right: 30px;
}

.hidden-inputs {
    margin-bottom: 10px;
}

.page-checkbox,
.user-checkbox {
    margin-right: 5px;
}

.checkbox-input-label
.question-label {
    font-size: 12px;
}

hr {
    border: none;
    height: 1px;
    background-color: #b488fe;
    margin: 15px 0;
}

button.analyze-button {
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #b488fe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button.analyze-button:hover {
    background-color: #b488fe;
    color: #fff;
}

textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    resize: none;
    border: 1px solid #b488fe;
    border-radius: 5px;
}

select {
    width: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #b488fe;
    border-radius: 5px;
}

